html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
html {
  font-family: serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: transparent;
  color: inherit;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  -webkit-appearance: none;
  outline: none;
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* 2 */
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
  resize: vertical;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?75518964');
  src: url('../font/fontello.eot?75518964#iefix') format('embedded-opentype'), url('../font/fontello.woff?75518964') format('woff'), url('../font/fontello.ttf?75518964') format('truetype'), url('../font/fontello.svg?75518964#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-link-ext:before {
  content: '\e800';
}
.icon-star:before {
  content: '\e801';
}
.icon-star-1:before {
  content: '\e802';
}
.icon-star-2:before {
  content: '\e803';
}
.icon-star-filled:before {
  content: '\e804';
}
.icon-quote:before {
  content: '\e805';
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 28px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.page {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  max-width: 1600px;
  min-width: 320px;
  text-align: center;
  width: 100%;
}
.page::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.block {
  background: #fff;
  border: 1px solid #c00;
  display: inline-block;
  margin-top: -23px;
  margin-left: -33px;
  min-width: 234px;
  position: relative;
  vertical-align: middle;
  width: 46.8%;
}
.block::before {
  background: #c00;
  border-radius: 15px;
  content: '';
  height: calc(100% + 1px);
  left: 19px;
  position: absolute;
  top: 19px;
  width: calc(100% + 1px);
  z-index: 0;
}
.block::after {
  width: 30px;
  height: 30px;
  background: #c00;
  border-radius: 50%;
  bottom: -15px;
  content: '';
  position: absolute;
  right: -15px;
  z-index: 1;
}
.block__inner {
  background: #fff;
  padding: 3px 25px 14px 19px;
  position: relative;
  text-align: left;
  z-index: 1;
}
.block__icon {
  font-size: 1.5625rem;
  color: #fc0;
  position: absolute;
  right: 7px;
  top: 10px;
  transition: 0.2s all ease-in-out;
}
.block__heading {
  font-size: 0.9375rem;
  color: #c00;
  margin: 12px 0;
  padding-right: 15px;
  transition: 0.2s all ease-in-out;
}
.block__text {
  font-size: 0.75rem;
  color: #5798b4;
  line-height: 1.45;
  margin: 8px 0;
  text-indent: 20px;
  transition: 0.2s all ease-in-out;
}
.block__text a {
  color: #c00;
}
.block__text a[target="_blank"] {
  margin-right: 8px;
  padding-right: 5px;
  position: relative;
}
.block__text a[target="_blank"]::after {
  font-size: 0.4375rem;
  content: '\e800';
  font-family: "fontello";
  position: absolute;
  right: -7px;
  top: 0;
  transition: 0.2s all ease-in-out;
}
.block__text ins {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.quote::before {
  width: 44px;
  height: 48px;
  background: url('../img/quotes.jpg') no-repeat 0 0;
  content: '';
  float: left;
  margin: 1px 7px 0 -4px;
}
.quote__text {
  text-indent: 0;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 24px;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
