@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?75518964');
  src: url('../font/fontello.eot?75518964#iefix') format('embedded-opentype'),
  url('../font/fontello.woff?75518964') format('woff'),
  url('../font/fontello.ttf?75518964') format('truetype'),
  url('../font/fontello.svg?75518964#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link-ext:before {
  content: '\e800';
}

.icon-star:before {
  content: '\e801';
}

.icon-star-1:before {
  content: '\e802';
}
.icon-star-2:before {
  content: '\e803';
}

.icon-star-filled:before {
  content: '\e804';
}

.icon-quote:before {
  content: '\e805';
}