html {
  .size(100%);
  overflow-x: hidden;
  font-size: 28px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  max-width: 1600px;
  min-width: 320px;
  text-align: center;
  width: 100%;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
}

.block {
  background: #fff;
  border: 1px solid #c00;
  display: inline-block;
  margin-top: -23px;
  margin-left: -33px;
  min-width: 234px;
  position: relative;
  vertical-align: middle;
  width: 46.8%;

  &::before {
    background: #c00;
    border-radius: 15px;
    content: '';
    height: calc(~'100% + 1px');
    left: 19px;
    position: absolute;
    top: 19px;
    width: calc(~'100% + 1px');
    z-index: 0;
  }

  &::after {
    .size(30px);
    background: #c00;
    border-radius: 50%;
    bottom: -15px;
    content: '';
    position: absolute;
    right: -15px;
    z-index: 1;
  }

  &__inner {
    background: #fff;
    padding: 3px 25px 14px 19px;
    position: relative;
    text-align: left;
    z-index: 1;
  }

  &__icon {
    .font-size-rems(25);
    color: #fc0;
    position: absolute;
    right: 7px;
    top: 10px;
    transition: 0.2s all ease-in-out;
  }
  &__heading {
    .font-size-rems(15);
    color: #c00;
    margin: 12px 0;
    padding-right: 15px;
    transition: 0.2s all ease-in-out;
  }

  &__text {
    .font-size-rems(12);
    color: #5798b4;
    line-height: 1.45;
    margin: 8px 0;
    text-indent: 20px;
    transition: 0.2s all ease-in-out;

    a {
      color: #c00;

      &[target="_blank"] {
        margin-right: 8px;
        padding-right: 5px;
        position: relative;

        &::after {
          .font-size-rems(7);
          content: '\e800';
          font-family: "fontello";
          position: absolute;
          right: -7px;
          top: 0;
          transition: 0.2s all ease-in-out;
        }
      }
    }

    ins {
      border-bottom: 1px dashed;
      text-decoration: none;
    }
  }
}

.quote {
  &::before {
    .size(44px, 48px);
    background: url('../img/quotes.jpg') no-repeat 0 0;
    content: '';
    float: left;
    margin: 1px 7px 0 -4px;
  }

  &__text {
    text-indent: 0;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 24px;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}